.containter{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}
h2{
    margin-left: auto;
    font-family: Helvetica;
}
#ul {
    list-style-type: decimal;
    margin-left: auto;
    margin-right: auto;
    white-space: normal;
    font-family: Helvetica;
}
li {
    font-size: 16pt;
    margin-left: -16px;
    padding: 5px;
}
#in {
    padding: 10px;
    width: 75%;
}
#addBtn {
    width: 25%;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 8px;
    background: #d9d9d9;
    background-color: #6E31CC;
    color: #d9d9d9;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border: none;
    font-family: Helvetica;
}
.closeBtn
{
    float: right;
    font-size: 16pt;
    cursor: pointer;
    font-family: Helvetica;
}
.check{
        float: right;
        cursor: pointer;
        float: left;
}
#clearBtn {
    width: 25%;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 8px;
    background: #d9d9d9;
    background-color: rgb(138, 21, 21);
    color: #d9d9d9;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border: none;
    font-family: Helvetica;
}